<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SigfileLocation" value="C:\Users\k4gdw\AppData\Roaming\Microsoft\Signatures\mysig.txt"/>
    <add key="quotefile" value="myquotes.xml"/>
    <add key="WaitPeriod" value="30" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="SignatureRotator"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="SignatureRotator"
				 type="System.Diagnostics.EventLogTraceListener"
				 initializeData="SignatureRotator"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>