[Pp]ackages/*
!repositories.config
*resharper.user
[Cc]ode[Dd]rop/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
Sync*.dat
*.user
*.docstates
*.crunchsolution.cache
_UpgradeReport_Files/
UpgradeLog.XML
code_drop/
TestResults/
